/* external css */



#main-content {

    width: 60%;
    height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
}





section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.sectiontitle {
    border: 2px solid black;
    text-align: center;
    width: 800px;
    padding: 10px;
    background-color: rgb(143, 118, 243);
    font-family: Arial, Helvetica, sans-serif;

}

.sectionrow {
    display: flex;
    justify-content: center;
    width: 100%;
}

.box {
    margin: 48px;
    border: 3px solid black;
    padding: 30px;
    width: 150px;
    background-color: rgb(213, 67, 147);
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    text-align: center;
}

.img {
    width: 200px;
    height: 200px;
    margin: 48px;
    padding: 5px;
}

ol,
ul {
    text-align: center;
    padding-left: 0;
}

.title {
    border: 2px solid black;
    text-align: center;
    width: 50%;
    padding: 10px;
    background-color: rgb(93, 160, 255);
    font-family: fantasy;
    font-size: 30px;
    color: blue;
    font-weight: 900;
}

#dryfoods {
    background-color: rgb(167, 226, 195);
}

#veggies {
    background-color: rgb(127, 157, 255);
}

#snacks {
    background-color: rgb(219, 237, 100);
}